ul,
li {
  list-style-type: none;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #f3f3ff;
}

.wrap {
}

.content_wrap {
  position: relative;
  margin: 20px auto;
  max-width: 320px;
  /* height: 500px; */
  /* background-color: #f4f4f4; */
  background-color: #f3f3ff;
  padding: 20px 0;
  border-radius: 20px;
}

.info_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.logo {
  width: 50px;
  margin-right: 12px;
}

.logo_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.main_title {
  font-family: "font_B";
  /* color: #6d61ff; */
  font-size: 17px;
  text-align: center;
  line-height: 25px;
  margin-bottom: 25px;
}

.des_box {
  margin-bottom: 25px;
}
.des_title {
  font-size: 15px;
  font-family: "font_B";
  margin-bottom: 8px;
}
.des_info {
  font-size: 14px;
  font-weight: "font_M";
  color: rgb(31, 31, 31);
}
.des_warning {
  font-size: 14px;
  color: #a09bd1;
  font-family: "font_SB";
}
.qa_title {
  font-family: "font_R";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}

.answer_list {
  margin-top: 20px;
  padding: 0;
}

.option_span {
  font-size: 16px;
}

.recommend_text {
  margin-top: 20px;
  padding-left: 8px;
}
.btn_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 20px;
}

.left_qa {
  font-family: "font_M";
  font-size: 15px;
  color: #a09bd1;
}
.handle_btn {
  background-color: #6d61ff;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 14px;
  font-family: "font_SB";
  color: #fff;
}

.start_btn {
  margin: 0px auto;
  display: block;
  background-color: #6d61ff;
  border: none;
  width: 300px;
  padding: 13px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-family: "font_SB";
  color: #fff;
}
